<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Facebook Login</strong>
    <ion-button expand="block" shape="round" style="--background: #3975EA;  font-size: 11pt;" (click)="signWithFacebook()">
      <ion-icon icon="logo-facebook" slot="start" style="margin-right: 10px"></ion-icon>
        Entrar com o Facebook
     </ion-button>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
